@model IEnumerable<WebAppTuotteetMVC.Models.Tilaukset>

@{
    ViewBag.Title = "TilausOtsikot";
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $(".showOrderClass").click(function () {
                let orderId = $(this).data("orderid");
                var url = "/Tilaukset/_TilausRivit/?OrderID=" + orderId;
                $("#orderDetails_" + orderId).append(" <b>Ladataan tilauksen " + orderId + " rivejä... </b>");
                var $detailDiv = $("#orderDetails_" + orderId);

                $.get(url, function(data) {
                    $detailDiv.replaceWith(data);
                });
            });
        });
    </script>
} 

<h2>TilausOtsikot</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>

<div class="container-fluid">
    <div class="card-header">
        <a class="card-link">
            <form>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning font-weight-bold">Tilausnro</span>
                    </div>
                    <input type="text" class="form-control bg-warning font-weight-bold px-2" value="Asiakas" disabled>
                    <input type="text" class="form-control bg-warning font-weight-bold px-2" value="AsiakasID" disabled>
                    <input type="text" class="form-control bg-warning font-weight-bold px-2" value="Tilauspäivä" disabled>
                    <input type="text" class="form-control bg-warning font-weight-bold px-2" value="Toimituspäivä" disabled>
                    <input type="text" class="form-control bg-warning font-weight-bold px-2" value="Postiosoite" disabled>
                    <input type="text" class="form-control bg-warning font-weight-bold px-2" value="Postinumero" disabled>                    
                </div>
            </form>
        </a>
    </div>
    <div id="accordion">
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="card-header">
                    <a class="card-link showOrderClass" data-orderid="@item.TilausID" data-bs-toggle="collapse" href="#collapse_@item.TilausID">
                        <form>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@item.TilausID"</span>
                                </div>
                                <input type="text" class="form-control px-2" value="@item.Asiakkaat.Nimi" disabled>
                                <input type="text" class="form-control px-2" value="@item.Asiakkaat.AsiakasID" disabled>
                                <input type="text" class="form-control px-2" value="@item.Tilauspvm" disabled>
                                <input type="text" class="form-control px-2" value="@item.Toimituspvm" disabled>
                                <input type="text" class="form-control px-2" value="@item.Toimitusosoite" disabled>
                                <input type="text" class="form-control px-2" value="@item.Postitoimipaikat.Postinumero" disabled>
                            </div>
                        </form>
                    </a>
                </div>
                <div id="collapse_@item.TilausID" class="collapse" data-parent="accordion">
                    <div class="card-body">                        
                        <div id="orderDetails_@item.TilausID"></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



@*<tr class="showOrderClass" data-orderid="@item.Toimituspvm">
    <td> @Html.DisplayFor(modelItem => item.Toimitusosoite)    </td>
    <td>        @Html.DisplayFor(modelItem => item.Tilauspvm)    </td>
    <td>        @Html.DisplayFor(modelItem => item.Toimituspvm)    </td>
    <td>        @Html.DisplayFor(modelItem => item.Asiakkaat.Nimi)    </td>
    <td>        @Html.DisplayFor(modelItem => item.Postitoimipaikat.Postitoimipaikka)    </td>

</tr>*@
