<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand">TilausDB DemoApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/Home/Index">
                            Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Contact">Contact</a>
                    </li>
                    @if (Session["UserName"] != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/Henkilot/Index">People</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Tuotteet/Index">Products</a>
                        </li>
                    }
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Jatkokurssi</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="~/Tuotteet/Index2">Tuotteet index2</a>
                                <a class="dropdown-item" href="~/Tilaukset/Index">Tilaukset</a>
                                <a class="dropdown-item" href="~/Tilaukset/TilausYhteenveto">Tilausten yhteenveto</a>
                                @*<a class="dropdown-item" href="#">Something else here</a>*@
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    @*tällä saatu kirjautumislinkit valikkopalkin oikeaan reunaan, toiminee myös ilman*@
                    <li class="navbar-text">Logged as: &nbsp @ViewBag.LoggedStatus  &nbsp &nbsp &nbsp</li> @*kirjautumisstatus on siirretty tähän, siistittävä tuota tapaa erottaa teksti linkeistä!*@
                    
                    @if (Session["UserName"] == null)
                    {
                        <li class="nav-item">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#LoginRuutu">Login </button>
                        </li>
                    }
                    @if (Session["UserName"] != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/LogOut">Logout</a>
                        </li>
                    }
                </ul>
            </div>
        </div>

    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Kalju koodaa Oy</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrapflatly")*@
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
    <script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>



